<html>
  <head>
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>
      <i class="fas fa-address-book"></i>
      My Contacts List
    </h1>
    <div>
      <ul>
        <% for(let i of contact_list) {%>
        <div>
          <li>
            <div>
              <p><%=i.name%></p>
              <p><%=i.phone%></p>
              <p><%=i.email%></p>

              <div>
                <a href="/delete-contact/?id=<%=i._id%>">
                  <i class="fas fa-window-close"></i>
                </a>
              </div>
              <div>
                <a href="/update-contact/?id=<%=i._id%>"> Update </a>
              </div>
            </div>
          </li>
        </div>
        <%}%>
      </ul>
    </div>
  </body>
</html>
