<html>
  <head>
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/contactlist.css" />
  </head>
  <body>
    <h1 class="header">
      <i class="fas fa-address-book"></i>
      My Contact List
    </h1>
    <table>
      <tr>
        <th><i class="fas fa-user"></i>Name</th>
        <th><i class="fas fa-id-badge"></i>Contact</th>
        <th><i class="fas fa-envelope"></i>Email</th>
        <th><i class="fas fa-trash-alt"></i>Delete</th>
        <th><i class="fas fa-pen"></i>Update</th>
      </tr>
      <% for(let i of contact_list) {%>
      <tr>
        <td><%=i.name%></td>
        <td><%=i.phone%></td>
        <td><%=i.email%></td>

        <td>
          <a href="/delete-contact/?id=<%=i._id%>">
            <i class="fas fa-window-close"></i>
          </a>
        </td>
        <td>
          <a href="/update/?id=<%=i._id%>"> Update </a>
        </td>
      </tr>
      <%}%>
    </table>
    <div class="contact">
      <a href="/add-contact" class="create-contact">Add Contact</a>
    </div>
  </body>
</html>
